WCF/WebServiceSummator/WebService/WebClient/Connected Services/SummatorService/Summator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSumm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSummResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSummSoapIn">
    <wsdl:part name="parameters" element="tns:GetSumm" />
  </wsdl:message>
  <wsdl:message name="GetSummSoapOut">
    <wsdl:part name="parameters" element="tns:GetSummResponse" />
  </wsdl:message>
  <wsdl:portType name="SummatorSoap">
    <wsdl:operation name="GetSumm">
      <wsdl:input message="tns:GetSummSoapIn" />
      <wsdl:output message="tns:GetSummSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SummatorSoap" type="tns:SummatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSumm">
      <soap:operation soapAction="http://tempuri.org/GetSumm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SummatorSoap12" type="tns:SummatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSumm">
      <soap12:operation soapAction="http://tempuri.org/GetSumm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Summator">
    <wsdl:port name="SummatorSoap" binding="tns:SummatorSoap">
      <soap:address location="https://localhost:44380/Summator.asmx" />
    </wsdl:port>
    <wsdl:port name="SummatorSoap12" binding="tns:SummatorSoap12">
      <soap12:address location="https://localhost:44380/Summator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>